
.searchBar {
    margin-top: -50px;
    margin-bottom: 15px;
}

.container {
    margin: 0 auto;
    width: 1000px;
}

.brandActivity {
    margin-top: 100px;
}

.action {
    padding: 0 5px;
}

.action h1 {
    margin-bottom: 15px;
    display: inline-block;
}

.action span {
    line-height: 50px;
}

.row > div {
    padding: 0 5px;
}

.col {
    /*padding: 5px;*/
    /*border-top: 1px #ececec solid;*/
    /*border-bottom: 1px #ececec solid;*/
}

.image img {
    display: block;
}
.card {
    padding: 10px 16px;
}
.card p {
    color: #999;
}

.activityRow {
}

.activityRow > div {
    height: 200px;
    background-color: #ececec;
}