.button{
	display: inline-block;
	width: 50px;
}
.title{
	text-align: center;
	font-size: 22px;
	font-weight: 600;
	color: #fea733;
	margin-bottom: 24px;
}
.container{
	margin: 50px 50px;
	min-height: 1000px;
}
.tab{
	margin-left: 25px;
	font-size: 40px;
}
.ant-select-selection-selected-value {
  width: 70px;
}
.label{
	font-size: 18px;
	margin-bottom: 6px;
}
:global(.ant-tabs-bar) {
	border: 0;
}

:global(.ant-tabs-nav-scroll) {
	display: flex;
}
:global(.ant-tabs-nav) {
	margin: 0 auto;
	font-weight: 600;
}
:global(.ant-tabs-ink-bar) {
	background: #fff;
}

.container :global(.ant-input){
	width: 723px;
}
form{
	width: 723px;
	margin: 0 auto;
}
form input {
	width: 723px;
	height: 32px;
}
.resigterBtn{
	width: 723px !important;
	height: 48px;
}
.tips{
	color: #7d7d7d;
	font-size: 18px;
	text-align: right;
	margin-top: 18px;
}


